.background {
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, #E0D2FF, #E69495, #F69090);
    position: relative;
    overflow: hidden; 
}


.wave-bg-top-right{
    position: absolute;
    top: 0; /* Posisikan ke atas */
    right: 0; /* Posisikan ke kanan */
    margin: -10px;
    display: flex;
}


.wave-bg-bottom-left{
    position: absolute;
    bottom: 0; /* Posisikan ke atas */
    left: 0; /* Posisikan ke kanan */
    margin: -10px;
    display: flex;
}


.svg-left-top {
    position: absolute;
    top: 0; /* Posisikan ke atas */
    left: 0; /* Posisikan ke kanan */
    margin: -100px; /* Tambahkan margin agar tidak terlalu menempel */
    display: flex;
}

.svg-bottom-right{
    position: absolute;
    bottom: 0; /* Posisikan ke bawah */
    right: 0; /* Posisikan ke kanan */
    z-index: 0;
    margin: -130px; /* Tambahkan margin agar tidak terlalu menempel */
    display: flex;
}


.svg-to-animate {
    opacity: 0; /* Awalnya tidak terlihat */
    transform: scale(0.8); /* Awalnya lebih kecil */
    transition: all 0.5s ease-out; /* Transisi animasi */
    display: flex;
}

.mulai-survey {
    position: absolute;
    top: 20px; /* Jarak dari atas */
    left: 50%; /* Posisikan di tengah horizontal */
    transform: translateX(-50%); /* Koreksi agar benar-benar di tengah */
    margin: 0;
  }
  

  .svg-to-animate.animate {
    opacity: 1; /* Muncul */
    transform: scale(1); /* Kembali ke ukuran normal */
    transition: all 0.5s ease-out;
    transition-delay: 0.3s; /* Tambahkan sedikit delay */
  }
  

body, html {
    margin: 0; /* Menghilangkan margin default */
    padding: 0; /* Menghilangkan padding default */
    overflow: hidden; /* Mencegah scroll */
    width: 100%; /* Pastikan elemen mencakup seluruh lebar viewport */
    height: 100%; /* Pastikan elemen mencakup seluruh tinggi viewport */
}

.custom-button {
    position : absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 40px; /* Memperbesar padding untuk proporsi */
    font-size: 45px; /* Sedikit lebih besar */
    font-weight: bold;
    color: #3b2b5b; /* Warna teks */
    background: linear-gradient(145deg, #f3bccb, #f9d1d8); /* Warna gradien latar */
    border: none;
    border-radius: 50px; /* Membuat sudut lebih membulat */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.4); /* Shadow lebih halus */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: -5%;
  }
  
  .custom-button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(255, 255, 255, 0.5); /* Shadow saat hover */
    transform: scale(1.25); /* Efek zoom saat hover */
  }
  
  
  
  