.main-progress-body {
    display: flex;
    width: 90%;
    background-color: #FFE1FF;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.inner-progress-bg {
    display: flex;
    background-image: linear-gradient(to right, #ffCBF5 , #FFF7D1);
    width: calc(100% - 10px);
    height: 30px;
    border-radius: 25px;
    justify-content: start;

}

.progress-bar-real {
    display: flex;
    background-color: #A483CC;
    height: 30px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    transition: width 0.5s;
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

.progress-text {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.progress-wrapper {
    z-index: 99;
    display: flex;
    position: sticky;
    justify-content: center;
    top: 90vh;
}